.title{
    background-color: orchid;
}
#page{
    width: 500px;
    height: 550px;
    padding-left: 40px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 100px;
    margin-top: 30px;
    justify-content: space-between;
}
.login{
    padding-left: 60px;
    font-size: 40px;
    color: blueviolet;
    }

.form-control1{
    padding-left: 20px;
    font-size: 25px;
    justify-content: space-around;
    border-radius: 50px;
    background-color: pink;
    border-color: lightcoral;
}
.form-control2{
    padding-left: 20px;
    font-size: 25px;
    justify-content: space-around;
    border-radius: 50px;
    background-color: pink;
    border-color: lightcoral;
}
.input_password{
    padding-top: 20px;
    justify-content: space-between;
    display: flex;
border-color: lightcoral;
}
.boshtuk2{
    padding-top: 5px;
}
.button{
    font-size: 20px;
    padding-top: 5px;
    width: 130px;
    border-radius: 40px;
    background-color: lightcoral;
    border-color: indigo;
}

p {
    margin-top: 10px;
    color: silver;
    font-size: 20px;
}